@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

.navbar {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  background: #1c307a;
  opacity: 0.9;
  height: 137px;
}

.navbar-navigator {
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
  flex: 1;
}

.navbar-logo {
  margin-left: 0.5rem;
}

.navbar-logo a {
  padding: 0 10%;
}

.navbar-items-spacer {
  flex: 1;
}

.navbar-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-items li {
  padding: 0 3rem;
}

.navbar-items a {
  color: #abc5ed;
  font-family: "Barlow", sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
}

.navbar-items a:hover,
.navbar-items a:active {
  opacity: 1;
  color: #4761bf;
  text-decoration: none;
}

@media (max-width: 768px){
    .navbar-items{
        display: none;
    }
}
@media (min-width: 769px){
    .sidebar-toggle-button{
        display: none;
    }
    .navbar-logo{
        margin-left: 0;
    }
}

