@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

.sidebar{
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out
}

.sidebar.open{
    transform: translateX(0);
}

.sidebar ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar li{
    margin: 0.5rem 0;
}

.sidebar a{
    color: #1C307A;
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.sidebar a:hover,
.sidebar a:active{
    color: #f9aa00;
    text-decoration: none;
}

@media (min-width: 769px){
    .sidebar{
        display: none;
    }
}