@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

h1,
h2,
figcaption,
p {
  font-family: "Barlow", sans-serif;
  color: #1c307a;
}

p {
  text-align: left;
  padding-top: 20%;
}

h2 {
  text-align: left;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}

#bluebg {
  background: #eef1f8;
}

section {
  text-align: center;
  padding: 10%;
}

#pgHeading {
  padding: 18%;
}

.row {
  padding-top: 10%;
}

.w-100 {
  padding-top: 5%;
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
}

figcaption {
  font-weight: bold;
  font-size: 18px;
}
