@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

h1,
h2,
h3,
figcaption,
p,
a,
span {
  font-family: "Barlow", sans-serif;
  color: #1c307a;
}

#bluebg {
  background: #eef1f8;
}

#pgHeadingHome {
  padding: 18%;
  padding-bottom: 0%;
  padding-top: 12.5%;
}

.pageTitle {
  font-weight: bold;
  font-size: 15vw;
  line-height: 240px;
  color: #1c307a;
  transform: rotate(-11.5deg);
}

.titleDiv {
  padding-top: 4%;
  text-align: center;
}

#homeHeaderImg {
  background-image: url("assets/homeHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}

.EEI {
  /* Engage • Empower • Innovate */
  font-style: normal;
  font-weight: bold;
  font-size: 36px;

  padding-top: 0%;
  text-align: right;
  padding-right: 5%;
}

.EEIdiv {
  padding: 0%;
}

.mobileEEIdiv{
  display: none;
}

.imgAndText {
  position: relative;
  padding: 3%;
}

.whoAreWeDiv {
  position: relative;
}

.imgText {
  position: absolute;
  top: 400px;
  left: 811px;
  right: 200px;
  bottom: 10px;
}

.whoAreWeHeading {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 43px;

  color: #1c307a;
}

.whoAreWeText {
  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 40px;
  /* or 200% */
  color: #1c307a;
}

.whoAreWeImg {
  width: 633px;
  height: 469px;
  background: #1c307a;
  mix-blend-mode: darken;
  opacity: 0.5;
}

#learnMoreButton {
  margin-left: 30px;
  width: 160px;
}

.sectionHeading {
  font-family: Barlow;
  font-style: normal;
  font-weight: 1000;
  font-size: 36px;
  line-height: 43px;

  color: #1c307a;
}

.sectionHeadingDiv {
  padding: 2%;
}

.whatWeDoDiv {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 6%;
}

.whatWeDoImgs {
  position: relative;
  text-align: center;
  margin: 3%;
  left: 0;
  right: 0;
  margin: auto;
  padding-bottom: 6%;
}

.whatWeDoImgText1 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;

  color: #ffffff;
}

.whatWeDoImgText2 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

.whatWeDoImgText3 {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-family: Barlow;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  text-align: center;
  color: #ffffff;
}

/* EVENTS */

.eventsDiv {
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
}

.eventsBgRectangles {
  position: relative;
}

.eventHeadingStyle {
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 36px;
  color: #1c307a;
}
.eventImgs {
  position: relative;
}

.eventTexts {
  position: relative;
}

.eventTextStyle {
  font-family: Barlow;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.learnMoreStyle {
  font-family: Barlow;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration-line: underline;
  color: #1c307a;
}

.moreComing {
  position: relative;
}

#moreComingBody {
  padding-top: 30%;
  padding-left: 20%;
}

#moreComingStyle {
  font-family: Barlow;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #1c307a;
}

/*Start of About and Projects*/
.boldHeader,
.figure-caption {
  font-weight: 600;
}

.contactDescription {
  padding-top: 10%;
  font-size: 30px;
  line-height: 60px;
}

#projectsHeaderImg {
  background-image: url("assets/projectsHeader.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}

.description {
  font-size: 20px;
  text-align: left;
  padding-top: 20%;
  line-height: 40px;
}

h1 {
  text-align: left;
  font-style: normal;
  font-size: 36px;
  padding-bottom: 7%;
}

h2 {
  text-align: left;
  font-style: normal;
  font-size: 30px;
}

p {
  text-align: left;
}

section {
  text-align: center;
  padding: 10%;
}

#pgHeading {
  padding: 18%;
  padding-top: 22.5%;
}

.w-100 {
  padding-top: 5%;
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
}

figcaption {
  font-size: 18px;
  text-align: center;
}

.card {
  padding: 1%;
  height: 500px;
}

.card-body {
  padding: 10%;
}

.scrollableText {
  overflow-y: auto;
  max-height: 50%;
}

.carousel .carousel-indicators li {
  border-radius: 100%;
  border: solid 1px #1c307a;
  height: 20px;
  width: 20px;
}

.carousel .carousel-indicators li.active {
  background: #1c307a;
}

#projectsCarousel {
  padding-bottom: 8%;
}

#aboutUsHeaderImg {
  background-image: url("assets/aboutHeader.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.9;
}

.position {
  font-size: 14px;
}

.col {
  padding: 5%;
}

.projectLink,
.eventLink {
  float: right;
}

/* Mobile view */
@media (max-width: 768px){
  .container-fluid,.row,.whoAreWeHeading,.whoAreWeText, .action-btns, .sectionHeading{
    text-align: center;
  }

  .EEIdiv {
    display: none;
  }

  .mobileEEIdiv{
    display: block;
  }

  .EEItext {
    /* Engage • Empower • Innovate */
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    font-family: "Barlow", sans-serif;
    color: #1c307a;
    
    padding-top: 10%;
    width: 100%;
    text-align: center;
  }

  #learnMoreButton {
    margin-left: 0px;
    width: 160px;
    height: 40px;
  }

  #joinNewsletterBtn{
    margin: 20px;
    height: 40px;
  }

  #moreComingBody {
    padding-top: 30%;
    padding-left: 10%;
  }

  #moreComingStyle {
    text-align: center;
    font-family: Barlow;
    font-style: normal;
    font-weight: 800;
    font-size: 38px;
    line-height: 48px;
    color: #1c307a;
  }
}
