@import url("https://fonts.googleapis.com/css?family=Barlow:400,600&display=swap");

.App{
  height: 100%;
}

#projectsHeaderImg {
  background-image: url("assets/projectsHeader.png");
  background-repeat: no-repeat;
  background-size: contain;
}

h1,
figcaption,
p {
  font-family: "Barlow", sans-serif;
  color: #1c307a;
}

p {
  text-align: left;
  padding-top: 20%;
  line-height: 40px;
}

h1 {
  text-align: left;
  font-style: normal;
  font-size: 36px;
}

#bluebg {
  background: #eef1f8;
}

section {
  text-align: center;
  padding: 10%;
}

#pgHeading {
  padding: 18%;
  padding-top: 22.5%;
}

.row {
  padding-top: 10%;
}

.w-100 {
  padding-top: 5%;
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
}

figcaption {
  font-size: 18px;
}

.boldHeader,
.figure-caption {
  font-weight: 600;
}