.nav {
  font-family: Barlow;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;

  color: #1C307A;
}

.navAbout {
  position: absolute;
  width: 57px;
  height: 24px;
  left: 1001px;
  top: 59px;
}

.navStormHacks {
  position: absolute;
  width: 98px;
  height: 24px;
  left: 1111px;
  top: 59px;
}

.navProjectHub {
  position: absolute;
  width: 90px;
  height: 24px;
  left: 1262px;
  top: 59px;
}
